#table {
  border-radius: 20px;
  margin-top: 10px;
  tbody {
    color: white;
    background-color: rgba(114, 113, 113, 0.726);
    button {
      margin: 0 8px;
      width: 80px;
    }
  }
}
.wrapper {
  top: 25vh;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  overflow-y: scroll;
  align-items: center;
  width: 100vw;
}
