.all {
  display: flex;
}
.root {
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  input {
    width: 200px;
    align-self: center;
    border-radius: 20px;
    outline: none;
  }
}
